<!DOCTYPE html>
<html>
<head>
    <title>CBSE/ICSE Courses</title>
    <link rel="icon" href="../static/images/pioneer.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/css/cbse.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

  </style>
</head>
<body>
<div id="background">
    <section id="nav-bar">
        <nav class="navbar navbar-expand-sm navbar-light">
            <a class="navbar-brand" href="../index.html"><img src="../static/images/pioneer.png" class="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="wbbse.html">WBBSE Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="cbse.html">CBSE/ICSE Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="members.html">Faculty Members</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact Us</a>
                    </li> -->
                </ul>
            </div>
        </nav>
    </section>

<!----------Courses section---------->

<h1 align="center">Courses Offered For CBSE/ICSE Board</h1>
<h3>Courses for class I to IV</h3>
<table>
    <tr>
        <th class="text-center" style="width:20%">Class</th>
        <th class="text-center" style="width:60%">Subjects</th>
        <th class="text-center" style="width:20%">Fees</th>
    </tr>
    <tr>
        <td>I</td>
        <td>All Subjects</td>
        <td>800/-</td>
    </tr>
    <tr>
        <td>II</td>
        <td>All Subjects</td>
        <td>800/-</td>
    </tr>
    <tr>
        <td>III</td>
        <td>All Subjects</td>
        <td>800/-</td>
    </tr>
    <tr>
        <td>IV</td>
        <td>All Subjects</td>
        <td>800/-</td>
    </tr>
</table>
<br>
<h3>Courses for class V to VIII</h3>
<table>
    <tr>
        <th class="text-center" style="width:20%">Class</th>
        <th class="text-center" style="width:60%">Subject</th>
        <th class="text-center" style="width:20%">Fees</th>
    </tr>
    <tr>
        <td>V</td>
        <td>Mathematics, Science Group</td>
        <td>800/-</td>
    </tr>
    <tr>
        <td>VI</td>
        <td>Mathematics, Science Group</td>
        <td>800/-</td>
    </tr>
    <tr>
        <td>VII</td>
        <td>Mathematics</td>
        <td>600/-</td>
    </tr>
    <tr>
        <td>VII</td>
        <td>Science Group</td>
        <td>500/-</td>
    </tr>
    <tr>
        <td>VIII</td>
        <td>Mathematics</td>
        <td>600/-</td>
    </tr>
    <tr>
        <td>VIII</td>
        <td>Science Group</td>
        <td>500/-</td>
    </tr>
</table>




<h3>Courses for class IX to X</h3>
<table>
    <tr>
        <th class="text-center" style="width:20%">Class</th>
        <th class="text-center" style="width:60%">Subject</th>
        <th class="text-center" style="width:20%">Fees</th>
    </tr>
    <tr>
        <td>IX</td>
        <td>Mathematics</td>
        <td>700/-</td>
    </tr>
    <tr>
        <td>IX</td>
        <td>Science Group</td>
        <td>700/-</td>
    </tr>
    <tr>
        <td>X</td>
        <td>Mathematics</td>
        <td>700/-</td>
    </tr>
    <tr>
        <td>X</td>
        <td>Science Group</td>
        <td>700/-</td>
    </tr>
</table>



<h3>Courses for XI and XII</h3>
<table>
    <tr>
        <th class="text-center" style="width:20%">Class</th>
        <th class="text-center" style="width:60%">Subject</th>
        <th class="text-center" style="width:20%">Fees Per Subject</th>
    </tr>
    <tr>
        <td>XI</td>
        <td>Mathematics, Physics, Chemistry, Computer Science</td>
        <td>800/-</td>
    </tr>
    <tr>
        <td>XII</td>
        <td>Mathematics, Physics, Chemistry, Computer Science</td>
        <td>800/-</td>
    </tr>
</table>

<!----------------------Footer Section------------------->
<section id="footer">
<!--    <img src="images/wave2.png" class="footer-img">-->
    <div class="container">
<!--        <div class="row">-->
<!--            <div class="col-md-8 footer-box">-->
<!--                <p><i class="fa fa-map-marker"></i><a th:href="@{https://www.google.com/maps/place/THE+PIONEER+INSTITUTE/@22.8778617,88.387805,17z/data=!3m1!4b1!4m6!3m5!1s0x39f891594124856b:0x76eedc97b1a5aee!8m2!3d22.8778568!4d88.3903799!16s%2Fg%2F11ssv0slbt?entry=ttu}">Find us in Google Map</a></p>-->
<!--                <p><i class="fa fa-envelope-o"></i>thepioneerinstitue23@gmail.com</p>-->
<!--            </div>-->
<!--                        <div class="col-md-4 footer-box">-->
<!--                            <p><b>HAVE A QUERY? FEEL FREE TO REACH OUT TO</b></p>-->
<!--                            <p><i class="fa fa-envelope-o"></i>satayu2013@gmail.com</p>-->
<!--                        </div>-->
<!--        </div>-->
        <hr>
        <p class="copyright">&copy; 2023 Pioneer Institute. All rights reserved.</p>
    </div>
</section>
</div>
</body>
</html>