<!DOCTYPE html>
<html>
<head>
    <title>Team Members</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/pioneer.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/css/contact.css" th:href="@{/css/contact.css}">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div id="background">
<!----------------------Navbar Section------------------->
<section id="nav-bar">
    <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="index.html"><img src="images/pioneer.png" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="wbbse.html">WBBSE Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cbse.html">CBSE/ICSE Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="members.html">Faculty Members</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
</section>

<!----------------------Team Member Section------------------->
<br>
<section>
    <h2 align="center">Meet Our Team</h2>
    <br>

    <div class="team-container">
        <div class="team-member">
            <div class="member-photo">
                <img src="images/amit.jpeg" alt="amit">
            </div>
            <h2 class="member-name">Amit Sinha</h2>
            <p class="member-description">Software Developer at TCS</p>
            <a class="connect-button" href="https://www.linkedin.com/in/amit-sinha-17041998">Connect</a>
        </div>

        <div class="team-member">
            <div class="member-photo">
                <img src="images/blank.jpeg" alt="soumik">
            </div>
            <h2 class="member-name">Soumik Dey</h2>
            <p class="member-description">Electrical Engineer at CESC</p>
            <a class="connect-button" href="https://www.linkedin.com/in/soumik-dey-4b208b15b?miniProfileUrn=urn%3Ali%3Afs_miniProfile%3AACoAACZGxQYBNeLEZfj4HPrgniEDzXeY-LQJ0iQ&lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3ByTc6urXOTeuGmHmzTMpZpw%3D%3D">Connect</a>
        </div>

        <div class="team-member">
            <div class="member-photo">
                <img src="images/blank.jpeg" alt="Team Member 3">
            </div>
            <h2 class="member-name">Team Member 3</h2>
            <p class="member-description">Description of Team Member 3.</p>
            <a class="connect-button" href="https://example.com">Connect</a>
        </div>

        <!-- Add more team members following the same structure -->
        <div class="team-member">
            <div class="member-photo">
                <img src="images/blank.jpeg" alt="Team Member 4">
            </div>
            <h2 class="member-name">Team Member 4</h2>
            <p class="member-description">Description of Team Member 4.</p>
            <a class="connect-button" href="https://example.com">Connect</a>
        </div>

        <div class="team-member">
            <div class="member-photo">
                <img src="images/blank.jpeg" alt="Team Member 5">
            </div>
            <h2 class="member-name">Team Member 5</h2>
            <p class="member-description">Description of Team Member 5.</p>
            <a class="connect-button" href="https://example.com">Connect</a>
        </div>
    </div>
</section>


<!----------------------Footer Section------------------->
<section id="footer">
    <!--    <img src="images/wave2.png" class="footer-img">-->
    <div class="container">
        <!--        <div class="row">-->
        <!--            <div class="col-md-8 footer-box">-->
        <!--                <p><i class="fa fa-map-marker"></i><a th:href="@{https://www.google.com/maps/place/THE+PIONEER+INSTITUTE/@22.8778617,88.387805,17z/data=!3m1!4b1!4m6!3m5!1s0x39f891594124856b:0x76eedc97b1a5aee!8m2!3d22.8778568!4d88.3903799!16s%2Fg%2F11ssv0slbt?entry=ttu}">Find us in Google Map</a></p>-->
        <!--                <p><i class="fa fa-envelope-o"></i>thepioneerinstitue23@gmail.com</p>-->
        <!--            </div>-->
        <!--                        <div class="col-md-4 footer-box">-->
        <!--                            <p><b>HAVE A QUERY? FEEL FREE TO REACH OUT TO</b></p>-->
        <!--                            <p><i class="fa fa-envelope-o"></i>satayu2013@gmail.com</p>-->
        <!--                        </div>-->
        <!--        </div>-->
        <hr>
        <p class="copyright">&copy; Website created and managed by Amit :)</p>
    </div>
</section>
</div>
</body>
</html>
